{% load static %}
{% load custom_tags %}
<div class="cd-demo cd-demo-container cd-demo-max-width-xs cd-demo-padding-y-xl js-cd-demo lk_block nav_block"
     data-nav="projects">
    <h1 class="poject_title">Projects</h1>
    <div class="new_project">
        <a href="{% url 'create_project' %}">
            <button class="btn btn--primary btn--preserve-width new_project_button create_project">
                <span class="btn__content-a"></span>
                <span class="btn__content-b">
                    <svg class="icon icon--is-spinning" aria-hidden="true" viewBox="0 0 16 16"><title>Loading</title><g
                            stroke-width="1"
                            fill="currentColor"
                            stroke="currentColor"><path
                            d="M.5,8a7.5,7.5,0,1,1,1.91,5" fill="none" stroke="currentColor" stroke-linecap="round"
                            stroke-linejoin="round"></path></g></svg>
                </span>
            </button>
        </a>
    </div>
    <div class="container-fluid">
        <div class="d-flex row projects_container">
            {% for project in projects %}
                {% include 'content/partials/_project.html' %}
            {% endfor %}
        </div>
    </div>

</div>
<form action="{% url 'delete_project' %}" id="delete_project_form" style="display: none">
    {% csrf_token %}
    {{ form_delete_project.project }}
</form>
<form action="{% url 'copy_project' %}" id="copy_project_form" style="display: none">
    {#  Форма отсылает id на разные url form_delete==form_copy  #}
    {% csrf_token %}
    {{ form_delete_project.project }}
</form>

<div id="dialog_delete_project" class="dialog dialog--sticky js-dialog" data-animation="on">
    <div class="dialog__content max-width-xxs" role="alertdialog" aria-labelledby="dialogTitle1"
         aria-describedby="dialogDescription1">
        <div class="text-component">
            <h4 class="text-center" id="dialogTitle1">Delete project?</h4>
        </div>

        <footer class="margin-top-md">
            <div class="flex justify-center gap-xs flex-wrap">
                <button class="btn btn--subtle js-dialog__close">Cancel</button>
                <button class="btn btn--color btn--accent submit_delete_project">Delete</button>
            </div>
        </footer>
    </div>
</div>
<div id="dialog_copy_project" class="dialog dialog--sticky js-dialog" data-animation="on">
    <div class="dialog__content max-width-xxs" role="alertdialog" aria-labelledby="dialogTitle1"
         aria-describedby="dialogDescription1">
        <div class="text-component">
            <h4 class="text-center" id="dialogTitle1">Duplicate a project?</h4>
        </div>

        <footer class="margin-top-md">
            <div class="flex justify-center gap-xs flex-wrap">
                <button class="btn btn--subtle js-dialog__close">No</button>
                <button class="btn btn--color btn--accent submit_copy_project">Yes</button>
            </div>
        </footer>
    </div>
</div>
<div class="modal modal--animate-scale flex flex-center bg-contrast-higher bg-opacity-90% padding-md js-modal"
     id="dialog_rename_project">
    <div class="modal__content width-100% max-width-xs padding-md bg radius-md shadow-md" role="alertdialog"
         aria-labelledby="modal-form-title" aria-describedby="modal-form-description">
        <div class="text-component margin-bottom-md">
            <h3 id="modal-form-title">Name of project</h3>
        </div>

        <div class="container-fluid">
            <form action="{% url 'edit_project' %}" class="margin-bottom-sm" id="rename_project_form">
                {% csrf_token %}
                {{ form_rename_project.id }}
                <div class="row">
                </div>
                <div class="row">
                    {{ form_rename_project.name|add_classes:'col-9 form-control flex-grow' }}
                    <button class="col-3 ml-3 btn--color btn btn--primary">Save</button>
                    <div class="col-5 error_input error_style">Place for errors</div>
                </div>
            </form>
        </div>
    </div>

    <button class="reset modal__close-btn modal__close-btn--outer  js-modal__close js-tab-focus close_modal_rename">
        <svg class="icon icon--sm" viewBox="0 0 24 24">
            <title>Close modal window</title>
            <g fill="none" stroke="currentColor" stroke-miterlimit="10" stroke-width="2">
                <line x1="3" y1="3" x2="21" y2="21"/>
                <line x1="21" y1="3" x2="3" y2="21"/>
            </g>
        </svg>
    </button>
</div>
