{% extends 'content/layout.html' %}
{% load custom_tags %}
{% load static %}
{% block title %}
    Account settings
{% endblock %}
{% block content %}
    <div class="cd-demo cd-demo-container cd-demo-max-width-xs cd-demo-padding-y-xl js-cd-demo lk_block step_1">

        <div class="block_close position_relative">
            <h1 class="create_prject_title">Choose prototype size
                <button class="close_btn btn btn--primary btn--preserve-width">
                </button>
            </h1>
        </div>

        <div class="container-fluid create_devises">
            <div class="row choice-btns js-choice-btns">
                {% for prototype in prototypes %}
                    <div class="b-none col-lg-4 col-sm-6 choice-btn padding-sm js-choice-btn justify-content-between">
                        <div class="prototype {% if forloop.first %}active{% endif %}"
                             data-prototype-id="{{ prototype.pk }}">
                            <img alt="" src="{{ prototype.image.url }}"/>
                            <div class="device_name">{{ prototype.device_name }}</div>
                        </div>
                    </div>
                {% endfor %}

            </div>
        </div>

        <div class="confirm">
            <button class="confirm_btn btn btn--primary btn--preserve-width">
                <span class="btn__content-a">Next</span>
            </button>
        </div>

    </div>
    <div class="cd-demo cd-demo-container cd-demo-max-width-xs cd-demo-padding-y-xl js-cd-demo lk_block step_2">
        <div class="block_close position_relative">
            <h1 class="create_prject_title">Write name of your project
                <button class="close_btn btn btn--primary btn--preserve-width">
                </button>
            </h1>
        </div>
        <div class="input_title">
            <h4>Project title</h4>
            <div class="m-10 search-input search-input--icon-right">
                <input class="form-control width-100% height-100%" type="search" name="searchInputX" id="searchInputX"
                       placeholder="Title" aria-label="Search">
            </div>
        </div>


        <div class="confirm">
            <button class="confirm_btn btn btn--primary btn--preserve-width">
                <span class="btn__content-a">Create</span>

                <span class="btn__content-b">
    <svg class="icon icon--is-spinning" aria-hidden="true" viewBox="0 0 16 16"><title>Loading</title><g stroke-width="1"
                                                                                                        fill="currentColor"
                                                                                                        stroke="currentColor"><path
            d="M.5,8a7.5,7.5,0,1,1,1.91,5" fill="none" stroke="currentColor" stroke-linecap="round"
            stroke-linejoin="round"></path></g></svg>
  </span>
            </button>
        </div>

    </div>
{% endblock %}