{% load static %}
{% load compress %}
<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="{% static 'css/normalize.css' %}" rel="stylesheet" type="text/css">
    <link href={% static 'css/webflow.css' %} rel="stylesheet" type="text/css">
    <link href="{% static 'css/sizze.webflow.css' %}" rel="stylesheet" type="text/css">
    {% compress css %}
        <link type="text/x-scss" href="{% static 'css/style.scss' %}" rel="stylesheet"
              media="screen">
    {% endcompress %}
    {% compress css %}
        <link type="text/x-scss" href="{% static 'css/develop.scss' %}" rel="stylesheet"
              media="screen">
    {% endcompress %}
    <title>{% block title %}{% endblock %}</title>
</head>
<body>

{% block header %}
    <div class="cd-demo cd-demo-container cd-demo-max-width-xs cd-demo-padding-y-xl js-cd-demo lk_block">
        <header class="header position-relative js-header ">
            <div class="m-0 p-0 w-100 header__container mt-0 mb-0 container max-width-lg">
                <div class="header__logo">
                    <a href="#0">
                        <img src="{% static 'images/SizzeLogo.svg' %}" alt="" class="nav-logo">
                    </a>
                </div>

                <button class="btn btn--subtle header__trigger js-header__trigger" aria-label="Toggle menu"
                        aria-expanded="false" aria-controls="header-nav">
                    <i class="header__trigger-icon" aria-hidden="true"></i>
                    <span>Menu</span>
                </button>

                <nav class="header__nav js-header__nav" id="header-nav" role="navigation" aria-label="Main">
                    <div class="header__nav-inner">
                        <div class="header__label">Main menu</div>
                        <ul class="header__list">
                            <li class="header__item"><a href="#0" class="header__link">Home</a></li>
                            <li class="header__item"><a href="#0" class="header__link" aria-current="page">Account</a>
                            </li>
                            <li class="header__item header__item--divider" aria-hidden="true"></li>
                            <li class="header__item"><a href="#0" class="btn btn--primary btn--betta">Betta</a></li>
                            <li class="header__item"><a href="{% url 'logout' %}" class="btn btn--primary btn--betta">Logout</a>
                            </li>
                        </ul>
                    </div>
                </nav>
            </div>
        </header>
        <div class="mt-5 filter-nav filter-nav--expanded js-filter-nav">
            <button class="reset btn btn--subtle is-hidden js-filter-nav__control" aria-label="Select a filter option"
                    aria-controls="filter-nav">
                <span class="js-filter-nav__placeholder" aria-hidden="true">Project</span>

                <svg class="icon icon--xxs margin-left-xxs" aria-hidden="true" viewBox="0 0 12 12">
                    <polyline points="0.5 3.5 6 9.5 11.5 3.5" fill="none" stroke-width="1" stroke="currentColor"
                              stroke-linecap="round" stroke-linejoin="round"></polyline>
                </svg>
            </button>

            <div class="filter-nav__wrapper js-filter-nav__wrapper" id="filter-nav">
                <nav class="filter-nav__nav justify-center js-filter-nav__nav">
                    <ul class="filter-nav__list js-filter-nav__list" aria-controls="product-gallery">
                        <li class="filter-nav__item">
                            <button class="reset filter-nav__btn js-filter-nav__btn js-tab-focus" aria-current="true"
                                    data-filter="*">Project
                            </button>
                        </li>

                        <li class="filter-nav__item">
                            <a href="{% url 'user_profile' %}">
                                <button class="reset filter-nav__btn js-filter-nav__btn js-tab-focus"
                                        data-filter="coffee-mugs">Account Settings
                                </button>
                            </a>
                        </li>

                        <li class="filter-nav__item">
                            <a href="{% url 'plans' %}">
                                <button class="reset filter-nav__btn js-filter-nav__btn js-tab-focus"
                                        data-filter="tea-mugs">
                                    Plan
                                </button>
                            </a>
                        </li>
                        <li class="filter-nav__marker js-filter-nav__marker" aria-hidden="true"></li>
                    </ul>

                    <button class="reset filter-nav__close-btn is-hidden js-filter-nav__close-btn js-tab-focus"
                            aria-label="Close navigation">
                        <svg class="icon" viewBox="0 0 16 16" aria-hidden="true">
                            <g stroke-width="1" stroke="currentColor" fill="none" stroke-linecap="round"
                               stroke-linejoin="round" stroke-miterlimit="10">
                                <line x1="13.5" y1="2.5" x2="2.5" y2="13.5"></line>
                                <line x1="2.5" y1="2.5" x2="13.5" y2="13.5"></line>
                            </g>
                        </svg>
                    </button>
                </nav>
            </div>
        </div>
    </div>
{% endblock %}

{% block content %}
{% endblock %}

<script src="{% static 'js/libs/jquery-3.4.1.min.js' %}"></script>
<script src="{% static 'js/libs/popper.min.js' %}"></script>
<script src="{% static 'js/libs/bootstrap.min.js' %}"></script>

<script src="{% static 'js/scripts.js' %}"></script>
<script src="{% static 'js/auth.js' %}"></script>
<script src="{% static 'js/webflow.js' %}" type="text/javascript"></script>

</body>
</html>