{% load static %}
{% load custom_tags %}
<div class="off-canvas off-canvas--full-width js-off-canvas">
    <main class="off-canvas__main">
        {% include 'content/reactor_partials/_readactor_main.html' %}
        <div class="modal modal--animate-scale flex flex-center bg-contrast-higher bg-opacity-90% padding-md js-modal"
             id="dialog_create_screen" style="z-index: 10000;">
            <div class="modal__content width-100% max-width-xs padding-md bg radius-md shadow-md" role="alertdialog"
                 aria-labelledby="modal-form-title" aria-describedby="modal-form-description">
                <div class="text-component margin-bottom-md">
                    <h3 id="modal-form-title">Screenshot title</h3>
                </div>

                <div class="container-fluid">
                    <form action="{% url 'create_screen' %}" class="margin-bottom-sm form_create_screen">
                        {% csrf_token %}
                        <div class="row">
                            {{ form_create_screen.project }}
                        </div>
                        <div class="row">
                            {{ form_create_screen.title|add_classes:'col-9 form-control flex-grow' }}
                            <button type="submit" class="col-3 ml-3 btn--color btn btn--primary">Save</button>
                            <div class="col-5 error_input error_style">Place for errors</div>
                        </div>
                    </form>
                </div>
            </div>

            <button class="reset modal__close-btn modal__close-btn--outer  js-modal__close js-tab-focus close_create_screen">
                <svg class="icon icon--sm" viewBox="0 0 24 24">
                    <title>Close modal window</title>
                    <g fill="none" stroke="currentColor" stroke-miterlimit="10" stroke-width="2">
                        <line x1="3" y1="3" x2="21" y2="21"/>
                        <line x1="21" y1="3" x2="3" y2="21"/>
                    </g>
                </svg>
            </button>
        </div>
    </main>
    <div id="off-canvas-1" class="off-canvas__panel js-off-canvas__panel" aria-labelledby="off-canvas__title"
         role="complementary">
        <div class="off-canvas__content padding-y-lg padding-x-md">

            <div class="pl-3 pr-3 d-flex justify-content-end">
                <button class="btn--color btn btn--primary" aria-controls="menu-example">
                    <svg class="mr-2" width="24" height="24" viewBox="0 0 24 24" fill="none"
                         xmlns="http://www.w3.org/2000/svg">
                        <g id="24 / basic / share-arrow">
                            <path id="icon" fill-rule="evenodd" clip-rule="evenodd"
                                  d="M13 16.0002V5.41436L16.2929 8.70726L17.7071 7.29304L12 1.58594L6.29289 7.29304L7.70711 8.70726L11 5.41436V16.0002H13ZM21 20.0002V11.0002H19V20.0002H5V11.0002H3V20.0002C3 21.1047 3.89543 22.0002 5 22.0002H19C20.1046 22.0002 21 21.1047 21 20.0002Z"
                                  fill="white"/>
                        </g>
                    </svg>
                    Download All Screens
                </button>

                <menu id="menu-example" class="menu js-menu">
                    <li role="menuitem">
                        <span class="menu__content d-flex justify-content-between js-menu__content">

                              <span>SVG</span>  <span class="about_plan">FREE</span>
                            </span>
                    </li>

                    <li role="menuitem">
                         <span class="menu__content d-flex justify-content-between js-menu__content">

                              <span>PDF</span>  <span class="about_plan">FREE</span>
                            </span>
                    </li>

                    <li role="menuitem">
                        <span class="menu__content d-flex justify-content-between js-menu__content">

                          <span>JPEG</span>
                             <span class="about_plan">FREE</span>

                        </span>
                    </li>

                    <li role="menuitem">
                          <span class="menu__content d-flex justify-content-between js-menu__content">

                              <span>PNG</span>  <span class="about_plan">FREE</span>
                            </span>
                    </li>

                </menu>
            </div>

            <!-- insert your secondary content here -->
            <div class="container-fluid">
                <div class="d-flex row screens_container">
                    <!--Start block-->
                    {% for screen in screens %}
                        {% include 'content/reactor_partials/_screen.html' %}
                    {% endfor %}
                </div>
            </div>


        </div>

        <button class="reset off-canvas__close-btn js-off-canvas__close-btn">
            <svg class="icon" viewBox="0 0 16 16"><title>Close panel</title>
                <g stroke-width="1" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round"
                   stroke-miterlimit="10">
                    <line x1="13.5" y1="2.5" x2="2.5" y2="13.5"></line>
                    <line x1="2.5" y1="2.5" x2="13.5" y2="13.5"></line>
                </g>
            </svg>
        </button>


    </div>
    <div>
        <div class="modal modal--select modal--animate-scale flex flex-center padding-md js-modal"
             id="modal-select1">
            <div class="modal__content format-width padding-md" role="alertdialog"
                 aria-labelledby="modal-select-title" aria-describedby="">
                <p class="color-contrast-medium margin-bottom-xs text-center"
                   id="modal-select-title">Select a format:</p>

                <ul class="full-screen-select flex flex-column gap-xxs js-full-screen-select"
                    role="listbox">
                    <li class=""><a href="#0"
                                    class="d-flex justify-content-between role-menu full-screen-select__option "
                                    role="option" onclick="OnConvert('pdf', false, 'changed_screen')">PDF<span
                            class="about_plan">FREE</span> </a></li>
                    <li class=""><a href="#0"
                                    class="d-flex justify-content-between role-menu full-screen-select__option "
                                    role="option" onclick="OnConvert('pdf', true, 'changed_screen')"
                    >SVG<span
                            class="about_plan">FREE</span> </a></li>
                    <li class=""><a href="#0" onclick="OnConvert('jpg', false, 'changed_screen')"
                                    class="d-flex justify-content-between role-menu full-screen-select__option "
                                    role="option">JPEG<span
                            class="about_plan">FREE</span> </a></li>
                    <li class=""><a href="#0" onclick="OnConvert('png', false, 'changed_screen')"
                                    class="d-flex justify-content-between role-menu full-screen-select__option "
                                    role="option">PNG<span
                            class="about_plan">FREE</span> </a></li>
                </ul>
            </div>

            <button class="reset modal__close-btn modal__close-btn--outer  js-modal__close js-tab-focus">
                <svg class="icon icon--sm" viewBox="0 0 24 24">
                    <title>Close modal window</title>
                    <g fill="none" stroke="currentColor" stroke-miterlimit="10"
                       stroke-width="2">
                        <line x1="3" y1="3" x2="21" y2="21"/>
                        <line x1="21" y1="3" x2="3" y2="21"/>
                    </g>
                </svg>
            </button>
        </div>
        <div id="dialog_rename_screen"
             class="modal modal--animate-scale flex flex-center bg-contrast-higher bg-opacity-90% padding-md js-modal">
            <div class="modal__content width-100% max-width-xs padding-md bg radius-md shadow-md" role="alertdialog"
                 aria-labelledby="modal-form-title" aria-describedby="modal-form-description">
                <div class="text-component margin-bottom-md">
                    <h3 id="modal-form-title">Name of screen</h3>
                </div>

                <div class="container-fluid">
                    <form action="{% url 'edit_screen' %}" class="margin-bottom-sm" id="rename_screen_form">
                        {% csrf_token %}
                        {{ form_edit_screen.id }}
                        <div class="row">
                        </div>
                        <div class="row">
                            {{ form_edit_screen.title|add_classes:'col-9 form-control flex-grow' }}
                            <button class="col-3 ml-3 btn--color btn btn--primary">Save</button>
                            <div class="col-5 error_input error_style">Place for errors</div>
                        </div>
                    </form>
                </div>
            </div>

            <button class="reset modal__close-btn modal__close-btn--outer  js-modal__close js-tab-focus close_modal_rename">
                <svg class="icon icon--sm" viewBox="0 0 24 24">
                    <title>Close modal window</title>
                    <g fill="none" stroke="currentColor" stroke-miterlimit="10" stroke-width="2">
                        <line x1="3" y1="3" x2="21" y2="21"/>
                        <line x1="21" y1="3" x2="3" y2="21"/>
                    </g>
                </svg>
            </button>
        </div>
        <div id="dialog_delete_screen" class="dialog dialog--sticky js-dialog" data-animation="on">
            <div class="dialog__content max-width-xxs" role="alertdialog" aria-labelledby="dialogTitle1"
                 aria-describedby="dialogDescription1">
                <div class="text-component">
                    <h4 class="text-center" id="dialogTitle1">Delete screen?</h4>
                </div>

                <footer class="margin-top-md">
                    <div class="flex justify-center gap-xs flex-wrap">
                        <button class="btn btn--subtle js-dialog__close">Cancel</button>
                        <button class="btn btn--color btn--accent submit_delete_screen">Delete</button>
                    </div>
                </footer>
            </div>
        </div>
        <div id="dialog_copy_screen" class="dialog dialog--sticky js-dialog" data-animation="on">
            <div class="dialog__content max-width-xxs" role="alertdialog" aria-labelledby="dialogTitle1"
                 aria-describedby="dialogDescription1">
                <div class="text-component">
                    <h4 class="text-center" id="dialogTitle1">Duplicate a screen?</h4>
                </div>

                <footer class="margin-top-md">
                    <div class="flex justify-center gap-xs flex-wrap">
                        <button class="btn btn--subtle js-dialog__close">No</button>
                        <button class="btn btn--color btn--accent submit_copy_screen">Yes</button>
                    </div>
                </footer>
            </div>
        </div>
    </div>

    <form action="{% url 'copy_screen' %}" id="copy_screen_form" style="display: none">
        {% csrf_token %}
        {{ form_copy_screen.screen }}
    </form>

    <form action="{% url 'delete_screen' %}" id="delete_screen_form" style="display: none">
        {% csrf_token %}
        {{ form_delete_screen.screen }}
    </form>


</div>
