<div class="mikeyoung1 anima-word-break "
     style="-webkit-text-size-adjust:none;overflow-wrap:break-word;word-wrap:break-word;word-break:break-word;  width: 1020px;   height              : 564px;   position            : relative;   overflow            : hidden;   margin              : 0px;   -webkit-font-smoothing: antialiased;   -moz-osx-font-smoothing: grayscale;   background-color    : rgba(66, 67, 66, 1.0);   opacity             : 1.0;">
    <div data-set="true" data-type="background-color"
         style="width:1020px;height:564px;position:relative;margin-top:auto;margin-bottom:auto;margin-right:auto;margin-left:auto;-webkit-text-size-adjust:none;  background-color    : rgba(66, 67, 66, 1.0);">
        <svg class="draggable multicolored-element" data-set="true" data-type="multicolored-element"
             style="background-color:rgba(255,255,255,0.0);top:-50px;height:665px;width:1079px;position:absolute;margin-top:0;margin-bottom:0;margin-right:0;margin-left:0;left:-29px;transform:rotate(0deg);opacity:1.0;"
             width="1079px" height="665px" viewBox="0 0 1079 665" version="1.1" xmlns="http://www.w3.org/2000/svg"
             xmlns:xlink="http://www.w3.org/1999/xlink">
            <g id="Page-1" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
                <g id="Group">
                    <g class="color_polete" id="Rectangle-2" transform="translate(1.000000, 5.000000)" fill="#424342"
                       stroke="#979797">
                        <rect id="Rectangle" x="0.5" y="0.5" width="1077" height="653"></rect>
                    </g>
                    <g class="color_polete" id="Group-22"
                       transform="translate(539.500000, 332.500000) rotate(-90.000000) translate(-539.500000, -332.500000) translate(207.000000, -207.000000)"
                       fill="#B5B6B4">
                        <path d="M13.6165971,379.5 L11.7675917,377.362766 L104.452724,297.007038 L104.269104,300.905353 L13.6165971,379.5 M107.215556,298.353495 L107.399176,294.45518 L446.450399,0.5 L450.767592,0.5 L107.215556,298.353495"
                              id="Fill-17"></path>
                        <path d="M70.6045015,1078.5 L67.7675917,1078.5 L72.6560037,975.494635 L75.4972054,975.464714 L70.6045015,1078.5 M72.7890509,972.664958 L84.9778921,715.814084 L87.7976346,716.275723 L75.6302526,972.630763 L72.7890509,972.664958 M87.9306818,713.433223 L85.1152312,712.971584 L118.92639,0.5 L121.767592,0.5 L87.9306818,713.433223"
                              id="Fill-19"></path>
                        <path d="M664.767592,810.5 L569.83477,794.893932 L570.044108,792.068107 L664.767592,807.640026 L664.767592,810.5 M567.032199,794.432922 L87.5618499,715.625696 L84.7550067,715.164685 L0.767591675,701.359974 L0.767591675,698.5 L84.8917174,712.326054 L567.245809,791.607097 L567.032199,794.432922"
                              id="Fill-20"></path>
                        <path d="M549.094428,1078 L546.267592,1078 L554.343659,969.399398 L557.170495,969.369477 L549.094428,1078 M554.556523,966.569721 L567.336888,794.690365 L567.549752,791.860688 L611.284826,203.770925 L611.49769,200.949797 L626.440755,0 L629.267592,0 L570.338273,792.322327 L570.129666,795.152004 L557.383359,966.535526 L554.556523,966.569721"
                              id="Fill-21"></path>
                    </g>
                </g>
            </g>
        </svg>
        <div class="draggable" contenteditable="true" data-set="true" data-type="text" class="mike"
             style="-webkit-text-size-adjust:none;background-color:rgba(255,255,255,0.0);top:166px;height:auto;width:auto;position:absolute;margin-top:0;margin-bottom:0;margin-right:0;margin-left:0;left:240px;transform:rotate(0deg);opacity:1.0;font-family:'Montserrat', Helvetica, Arial, serif;font-weight:700;font-style:normal;font-size:105.8px;color:rgba(255, 254, 254, 1.0);text-align:left;line-height:129.0px;">
            Mike
        </div>
        <div class="draggable" contenteditable="true" data-set="true" data-type="text" class="young"
             style="-webkit-text-size-adjust:none;background-color:rgba(255,255,255,0.0);top:268px;height:auto;width:auto;position:absolute;margin-top:0;margin-bottom:0;margin-right:0;margin-left:0;left:240px;transform:rotate(0deg);opacity:1.0;font-family:'Montserrat', Helvetica, Arial, serif;font-weight:700;font-style:normal;font-size:105.8px;color:rgba(255, 254, 254, 1.0);text-align:left;letter-spacing:-6.35px;line-height:129.0px;">
            Young
        </div>
    </div>
</div>
<style>             @import url('https://fonts.googleapis.com/css?family=Montserrat:700,500,400');

.mikeyoung1 {
    width: 1020px;
    height: 564px;
    position: relative;
    overflow: hidden;
    margin: 0px;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    background-color: rgba(66, 67, 66, 1.0);
    opacity: 1.0;
}          </style>