// a logic style on develop process

.mt-3.margin-bottom-sm {
  a {
    text-decoration: none;
  }
}

.errorlist {
  li {
    color: #af2828;
  }
}

.blinking_success {
  color: #0d8054;
  display: none;
  font-weight: bold;
}

.step_2 {
  display: none;
}

.error_style {
  display: none;
  color: #af2828;
  font-family: "SFPro Medium" !important;

  &.show {
    display: block;
  }
}

.prototype {
  img {
    margin: auto;
    display: block;
  }

  .create_img_hover {
    display: none;
  }

  &.active {
    .create_img_hover {
      display: block;
    }

    .create_img {
      display: none;
    }
  }
}

.form_create_project {
  select {
    display: none;
  }
}

.form_create_screen {
  select {
    display: none;
  }
}

.form_create_project {
  .btn {
    width: 50%;
    font-size: 15px;
  }
}

.top-menu, .tools-panel, .view-container__add {
  .btn--primary {
    background-color: transparent;
  }
}


.no-main-svg {
  .top-menu {
    .flex-column {
      position: relative;
    }
  }
}

.dropdown-menu-save, .dropdown-menu-share {
  top: 64px;
}

// Посмотреть, рамка вокруг палитры
.pickr input :focus {
  box-shadow: none !important;
}

.font-select-button {
  width: auto !important;
}

.view-container__wrap {

  &.drag_border {
    border: 4px dashed #7D2BE5;
  }
}

.card__content {
  .flex_h4 {
    margin-left: 10px;
  }
}


.text-component {
  .btn {
    font-size: 14px
  }
}


.head_control_button {
  font-size: 14px;

  button {
    width: 45%;
  }


  a {
    color: #7D2BE5 !important;
    font-weight: 600;

    &:hover {
      color: #7D2BE5 !important;
    }
  }

  img {
    margin: 0 !important;
    padding-right: 5px;
  }
}

.button_download_all_screen {
  font-size: 14px !important;

}

li {
  .menu__content:hover {
    background-color: #f2f2f2 !important;
  }
}

.tools-panel-text {
  button {
    font-size: 14px;

  }
}

.plus_btn {
  position: absolute;
  right: 0;
  margin-right: 17px;
}

.add-item {
  img {
    margin: 0 !important;
    padding-right: 5px;
  }
}

.number-input {
    margin-bottom: 0px!important;
}

.number_style {
    display: flex;
    justify-content: center;
}