// a logic style on develop process

.mt-3.margin-bottom-sm {
  a {
    text-decoration: none;
  }
}

.errorlist {
  li {
    color: #af2828;
  }
}

.blinking_success {
  color: #0d8054;
  display: none;
  font-weight: bold;
}

.step_2 {
  display: none;
}

.error_style {
  display: none;
  color: #af2828;
  font-family: "SFPro Medium" !important;

  &.show {
    display: block;
  }
}

.prototype {
  img {
    margin: auto;
    display: block;
  }

  .create_img_hover {
    display: none;
  }

  &.active {
    .create_img_hover {
      display: block;
    }

    .create_img {
      display: none;
    }
  }
}

.form_create_project {
  select {
    display: none;
  }
}

.form_create_screen {
  select {
    display: none;
  }
}

.form_create_project {
  .btn {
    width: 50%;
    font-size: 15px;
  }
}

