{% extends 'auth/layout.html' %}
{% load static %}

{% load custom_tags %}

{% block title %}
    Create account
{% endblock %}
{% block content %}

    <div class="cd-demo cd-demo-container cd-demo-max-width-xs cd-demo-padding-y-xl js-cd-demo account_settings">
        <form class="sign-up-form" action="{% url 'create_account' %}">
            {% csrf_token %}

            <div class="text-component text-center margin-bottom-sm">
                <h1>Get started</h1>
                <p class="text-sm">Already have an account? <a class="log_link" href="{% url 'login' %}">Log in</a></p>
            </div>

            <div class="margin-bottom-sm">
                <label class="text-sm form-label margin-bottom-xxxs" for="inputFirstName">Your Name</label>
                {{ form.username | add_classes:'form-control width-100%' }}
                <div class="mt-2 text-sm error_input error_style">Place for errors</div>

            </div>

            <div class="margin-bottom-sm">
                <label class="text-sm form-label margin-bottom-xxxs" for="inputEmail1">Your Email</label>
                {{ form.email | add_classes:'form-control width-100%' }}
                <div class="mt-2 text-sm error_input error_style">Place for errors</div>

            </div>

            <div class="margin-bottom-md">
                <label class="text-sm form-label margin-bottom-xxxs" for="inputPassword1">Password</label>
                {{ form.password | add_classes:'form-control width-100%' }}
                <div class="mt-2 text-sm error_input error_style">Place for errors</div>
            </div>

            <div class="margin-bottom-sm">
                <button class="btn--color btn btn--primary btn--md width-100%">Sing Up</button>
            </div>

            <p id="error_info" class="text-sm"></p>

            <div class="text-center">
                <p class=" text-sm mt-2 d-block color-contrast-medium">By signing up, I agree to the Sizze's
                    <a class="log_link" href="{% static 'docs/Privacy.pdf' %}">Privacy Policy</a>
                    and
                    <a class="log_link" href="{% static 'docs/Terms.pdf' %} ">Terms of Service.</a></p>
            </div>
        </form>

    </div>

{% endblock %}
