{% extends 'auth/layout.html' %}

{% block title  %}
    Forgot password
{% endblock %}

{% block content %}
    <div class="cd-demo cd-demo-container cd-demo-max-width-xs cd-demo-padding-y-xl js-cd-demo account_settings">


<form class="password-reset-form">
  <div class="text-component text-center margin-bottom-md">
    <h1>Forgot your password?</h1>
    <p class="text-sm">Enter your Email, we'll send you a link to reset it.</p>
  </div>

  <div class="margin-bottom-sm">
    <label class="text-sm form-label margin-bottom-xxxs" for="inputEmail1">Email</label>
    <input class="form-control width-100%" type="email" name="inputEmail1" id="inputEmail1" placeholder="email@myemail.com">
  </div>

  <div class="margin-bottom-sm">
    <button class="btn--color btn btn--primary btn--md width-100%">Submit</button>
  </div>
 <p class="text-sm">Place for errors</p>

    <p class="mt-2 d-block text-sm"><a class="log_link" href="{% url 'login' %}">Log In</a></p>

</form>

    </div>
{% endblock %}