{% extends 'auth/layout.html' %}
{% load static %}
{% load custom_tags %}
{% block title %}
    Select password
{% endblock %}

{% block content %}
    <div class="cd-demo cd-demo-container cd-demo-max-width-xs cd-demo-padding-y-xl js-cd-demo account_settings">
        {% if validlink %}
            <form class="password-reset-form" method="POST">
                {% csrf_token %}
                <div class="text-component text-center margin-bottom-md">
                    <h1>Select a Password</h1>
                    <p class="text-sm">Select your Sizze password.</p>
                </div>
                <div class="margin-bottom-md">
                    <label class="form-label text-sm margin-bottom-xxxs" for="inputPassword1">Password</label>
                    {{ form.new_password1 | add_classes:'form-control width-100%' }}
                </div>
                <div class="margin-bottom-md">
                    <label class="form-label text-sm margin-bottom-xxxs" for="inputPassword1">Password</label>
                    {{ form.new_password2 | add_classes:'form-control width-100%' }}
                </div>

                <div class="margin-bottom-sm">
                    <button class="btn--color btn btn--primary btn--md width-100%">Submit</button>
                </div>
                <div>{{ form.new_password2.errors }}</div>
            </form>
        {% else %}
            <h1>Password reset unsuccessful</h1>
            <p>The password reset link was invalid, <br/>
                possibly because it has already been used. <br/>
                Please request a new password reset.</p>
        {% endif %}
    </div>
{% endblock %}

    
