{% extends 'auth/layout.html' %}
{% load static %}

{% block title %}
    Success reset
{% endblock %}

{% block content %}
    <div class="cd-demo cd-demo-container cd-demo-max-width-xs cd-demo-padding-y-xl js-cd-demo content mt-5">
        <img class="reset_img" src="{% static 'images/thumbs-up.svg' %}">
        <h1 class="text-center_h1">Success!</h1>
        <p class="mt-3 text-center">Your password has been updated.</p>
        <div class="mt-3 margin-bottom-sm">
            <a href="{% url 'index' %}" class="btn btn--primary btn--betta">My account
                <button class="btn--color btn btn--primary btn--md width-100%">t</button>
            </a>
        </div>
    </div>
{% endblock %}
